* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*---------------------------HEADER---------------------------*/

header {
    position: absolute;
    color: white;
    font-size: 40vh;
    font-family: 'Mukta Vaani', sans-serif;
    width: 99vw;
}


.Solar {
    margin-top: -3%;
    display: flex;
    padding-left: 100px;
    height: 50vh;
    /*background-color: aqua;*/

}

.planetario {
    height: 100%;
    width: 100vh;
    background-color: chartreuse;
}

.System {
    margin-top: -100px;
    padding-left: 400px;
    /*background-color: red;*/
}

/*---------------------------FONDO---------------------------*/

#fondoAnimado {
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/*---------------------------FOOTER---------------------------*/

:root {
    --clr: #000000;
    /*Esto es basicamente declarar una variable,
     se declara con los dos -- y despues el nombre personalizado,
     esto lo hacemos porque vamos a usar reiteradamente esta variable*/
}


footer {
    padding-top: 94.2vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;

}

.NavBar {
    position: relative;
    width: 100vw;
    height: 54px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2vw;
    padding-bottom: 0.75vh;
}

.NavBar ul {
    /*Aqui estamos editando el contenido de la ul (unordered list)*/
    display: flex;
    width: 350px;
    gap: 2rem;

}

.NavBar ul li {
    /*Aqui estamos editando el contenido de la propia lista*/
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    z-index: 1;
}

.NavBar ul li a {
    /*Aqui estamos editando el contenido de <a> que son hipervinculos, que nos redirigiran a las otras paginas*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.NavBar ul li a .icono {
    /*En esta vamos a modificar los divs llamados icono*/
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.8em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);

}

.NavBar ul li.active a .icono {
    transform: translateY(-32px);
}

.NavBar ul li a .text {
    /*En esta vamos a modificar los divs llamados icono*/
    position: absolute;
    font-weight: 520;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    color: var(--clr);
    opacity: 0;
    transform: translateY(20px);
}

.NavBar ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.bola {
    /*Esta es la bolita que rodea al icono*/
    position: absolute;
    top: -75%;
    left: 1.7vw;
    width: 72px;
    height: 72px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

/*Tanto el ::after como el ::before nos sirven para añadir
contenido a la pagina sin necesidad de meterlo en html,
lo hemos usado aqui porque es correcto hacerlo cuando vas a integrar
box-shadows, y aqui hacemos las cosas bien 🙏*/

.bola::before {

    content: '';
    position: absolute;
    top: 52%;
    left: -27px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top-right-radius: 80px;
    box-shadow: 0px -10px 0 0 var(--clr);
}


.bola::after {

    content: '';
    position: absolute;
    top: 52%;
    right: -27px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top-left-radius: 80px;
    box-shadow: 0px -10px 0 0 var(--clr);
}